* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.App {
  text-align: center;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 40px;
  background-color: #eef2f3;
}

@media (max-width: 1024px) {
  .App {
    padding-top: 30px;
  }
}

@media (max-width: 768px) {
  .App {
    padding-top: 20px;
    align-items: flex-start;
  }
}

@media (max-width: 480px) {
  .App {
    padding-top: 10px;
  }
}

@media (max-width: 320px) {
  .App {
    padding-top: 5px;
  }
}